<div id="<%= dom_id create_article %>">
  <p>
    <strong>Title:</strong>
    <%= create_article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= create_article.description %>
  </p>

</div>
