<h1>Editing create article</h1>

<%= render "form", create_article: @create_article %>

<br>

<div>
  <%= link_to "Show this create article", @create_article %> |
  <%= link_to "Back to create articles", create_articles_path %>
</div>
